{% extends "base.html" %}
{% block content %}

<form class="controls" method="get" action="/">
  <input class="input" name="q" value="{{ q|default:'' }}" placeholder=" " />
  <button class="btn" type="submit">Search</button>
</form>

<div class="grid-4">
  {% for m in movies %}
    <a class="movie-card" href="/movie/{{ m.id }}/">
      <div class="poster">
        {% if m.poster_path %}
          <img src="https://image.tmdb.org/t/p/w500{{ m.poster_path }}" alt="{{ m.title }}">
        {% else %}
          Movie poster
        {% endif %}
      </div>
      <div class="title-chip">{{ m.title }}</div>
    </a>
  {% endfor %}
</div>

{% endblock %}
